#info { border: solid 10px black; 
    margin: 50px; padding: 30px; background-color: lightgrey;} 
    #inscript { border: solid 10px black; 
    padding: 30px; background-color: yellow; }
    #pret { border: solid 10px black; 
    margin: 50px; background-color: pink;}

    section { 
        font-family: Arial; 
        background-color: rgb(255, 229, 155);}
         #formulaire { 
        position: relative; margin : auto; 
        width: 300px;}
         #lbSaisie
         { 
        display: inline-block; width: 140px; 
        line-height : 30px; } .bouton { 
        width : 360px; } 
    /* Style sur les balises */
     section { 
font-family : Arial; 
background-color: rgb(255, 229, 155); }
/* Style sur les identifiants */ 
/* Identifiants de la page Accueil */ 
#fondPestin { 
background-image: url('../images/plestinBas.png'); 
color: yellow; /*couleur du texte */ font-size: 22px; /*taille du texte */ font-style: oblique; /*texte oblique*/ text-align: left; /*gauche (par défaut)*/ font-weight: bold; /* gras */} 

 
/*taille des caractères à 100% par défaut*/ 
body { font-size:100%; 
/* Modifications si smartphone */ @media screen and (max-width: 980px), handheld and (max-width: 980px) }
body { 
font-size:130%; 
 background-color: #d3d3d3; 
display: none; 
} /* fin smartphone */ 

        